.example-spacer {
    flex: 1 1 auto;
  }

mat-card{
    margin: 10px;
    width: 300px;
    text-align: center;
    height: 200px;
    color: whitesmoke;
    border-radius: 10px;
    background: rgb(24,27,247);
background: linear-gradient(174deg, rgba(24,27,247,1) 0%, rgba(109,88,235,1) 35%, rgba(120,156,230,1) 100%);
}

.categories{
  display: flex;
  align-items: center;
  justify-content: center;
}

